/****************************************************************************************
*                           COMMON CSS                                                  *
*****************************************************************************************/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/****************************************************************************************
*                           CSS FOR BUTTON AND FORM INPUT                               *
*****************************************************************************************/
.btn-info {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: #17A2B8
}